 @media screen and (min-width: 700px){
.rwd-break {
  display: none;
}
}

 @media screen and (min-width: 700px){
.no-tracking
{
  letter-spacing: 0em;
}
}

html {
  display: flex;
}

body {
  border-style: solid;
  border-width: 10px;
  border-color: #21623F;
  flex: 1;
}

.verde {
color: #21623F;
}

.bg-verde {
  background-color: #21623F;
}

.bg-rose {
background-color: #F5D9DB;
}

.bg-vanilla {
background-color: #F6E7DB;
}

.min-height {
  min-height: 100%;
}

.grow:hover, .grow:focus {
    transform: scale(1.10);
}

.link {
  text-decoration: underline;
}
