 @media screen and (min-width: 700px){
.rwd-break {
  display: none;
}
}

 @media screen and (min-width: 700px){
.no-tracking
{
  letter-spacing: 0em;
}
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 30px 60px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: red;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}


#instafeed a{
  display: block;
  float: left;
  position: relative;
  padding-right: 2em;
  width: 50%;
  padding-bottom: 20px;
  text-decoration: none;
  color: #357EDD;
  font-size: 12px;
  }

#instafeed .footer {
  background-color: white;
  margin-top: -11px;
  z-index: 1;
  padding: 12px;
  padding-top: 20px;
  border-radius: 0px 0px 4px 4px;

}

#instafeed img {
  background-color: white;
  border-radius: 4px 4px 0px 0px;
  z-index: -1;
}
