@media screen and (max-width: 481px) {
  /* line 5, ../sass/scale.scss */
  .social {
    float: left;
    margin-bottom: 20px;
    margin-top: -26px;
  }
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  /* line 14, ../sass/scale.scss */
  .writing {
    width: 100%;
    margin-right: 10px;
  }

  /* line 19, ../sass/scale.scss */
  .content {
    clear: both;
  }

  /* line 23, ../sass/scale.scss */
  .social {
    float: right;
  }

  /* line 27, ../sass/scale.scss */
  footer {
    clear: both;
  }
}
@media screen and (min-width: 769px) {
  /* line 36, ../sass/scale.scss */
  header .name {
    width: 100%;
    margin-right: 10px;
  }

  /* line 43, ../sass/scale.scss */
  .content {
    clear: both;
  }

  /* line 47, ../sass/scale.scss */
  .social {
    float: right;
  }

  /* line 51, ../sass/scale.scss */
  footer {
    clear: both;
  }
}
