/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../sass/work.scss */
.work {
  padding: 15px;
  padding-top: 0;
  margin-bottom: 30px;
  color: #030539;
}
/* line 13, ../sass/work.scss */
.work h3 {
  font-family: "cubano";
  font-size: 1.2em;
  letter-spacing: .2em;
  padding-bottom: 8px;
  border-bottom: 4px solid;
}
/* line 21, ../sass/work.scss */
.work .miso {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #030539;
}
/* line 26, ../sass/work.scss */
.work .miso .meta {
  padding-top: 6px;
}
/* line 30, ../sass/work.scss */
.work .miso a {
  text-decoration: none;
}
/* line 33, ../sass/work.scss */
.work .miso a .misoapp {
  height: 34px;
  padding: 16px;
  padding-top: 14px;
  padding-bottom: 18px;
  margin-right: 12px;
  background: rgba(3, 5, 57, 0.25);
  border-radius: 16px;
  margin-bottom: 18px;
  float: left;
}
/* line 44, ../sass/work.scss */
.work .miso a .veoapp {
  height: 38px;
  padding: 21px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 12px;
  background: rgba(3, 5, 57, 0.25);
  border-radius: 16px;
  margin-bottom: 16px;
  float: left;
}
/* line 55, ../sass/work.scss */
.work .miso a .weaveapp {
  height: 32px;
  padding: 13px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 12px;
  background: rgba(3, 5, 57, 0.25);
  border-radius: 16px;
  margin-bottom: 16px;
  float: left;
}
/* line 66, ../sass/work.scss */
.work .miso a .venmoapp {
  height: 34px;
  padding: 16px;
  margin-right: 12px;
  background: rgba(3, 5, 57, 0.25);
  margin-bottom: 18px;
  float: left;
}

/* line 79, ../sass/work.scss */
h5 {
  font-size: 1em;
  padding-bottom: 12px;
}

/* line 84, ../sass/work.scss */
h6 {
  margin-bottom: 14px;
  font-family: "cubano";
  color: rgba(3, 5, 57, 0.5);
}
/* line 89, ../sass/work.scss */
h6 a {
  font-family: "cubano";
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: auto;
  color: #030539;
  padding: 6px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  text-decoration: none;
}

/* line 104, ../sass/work.scss */
h7 {
  font-size: .8em;
  color: rgba(0, 0, 0, 0.5);
}

/* line 110, ../sass/work.scss */
.memo p {
  margin-top: 50px;
  line-height: 1.4em;
}
/* line 115, ../sass/work.scss */
.memo .fa {
  margin-top: 10px;
  margin-left: -10px;
  color: rgba(0, 0, 0, 0.25);
}
/* line 121, ../sass/work.scss */
.memo a.quora {
  margin-top: 20px;
  color: green;
}

/* line 13, ../sass/writing.scss */
.writing {
  margin-bottom: 40px;
  padding: 15px;
  padding-top: 0;
  color: #030539;
}
/* line 19, ../sass/writing.scss */
.writing h3 {
  font-family: "cubano";
  font-size: 1.2em;
  letter-spacing: .2em;
  padding-bottom: 8px;
  border-bottom: 4px solid;
}
/* line 27, ../sass/writing.scss */
.writing .said {
  padding-top: 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid #030539;
}
/* line 32, ../sass/writing.scss */
.writing .said p {
  font-family: "skolar";
  font-size: 1.2em;
  margin-top: -3px;
  margin-bottom: 3px;
}
/* line 38, ../sass/writing.scss */
.writing .said p a {
  text-decoration: none;
  color: #ededed;
  line-height: 1.2em;
}
/* line 45, ../sass/writing.scss */
.writing .said .texticon {
  border: 2px solid #030539;
  opacity: .25;
  border-radius: 6px;
  height: 16px;
  padding: 5px;
  margin-top: -5px;
  margin-right: 12px;
  margin-bottom: 16px;
  float: left;
  transition: opacity .5s ease;
}
/* line 58, ../sass/writing.scss */
.writing .said .texticon:hover {
  opacity: .5;
}
/* line 62, ../sass/writing.scss */
.writing .said .fa {
  opacity: .25;
  color: black;
  padding: 5px;
  margin-top: -10px;
  margin-right: 12px;
  margin-bottom: 20px;
  transition: opacity .5s ease;
  float: left;
}
/* line 73, ../sass/writing.scss */
.writing .said .fa:hover {
  opacity: .5;
}

@media screen and (max-width: 481px) {
  /* line 5, ../sass/scale.scss */
  .social {
    float: left;
    margin-bottom: 20px;
    margin-top: -26px;
  }
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  /* line 14, ../sass/scale.scss */
  .writing {
    width: 100%;
    margin-right: 10px;
  }

  /* line 19, ../sass/scale.scss */
  .content {
    clear: both;
  }

  /* line 23, ../sass/scale.scss */
  .social {
    float: right;
  }

  /* line 27, ../sass/scale.scss */
  footer {
    clear: both;
  }
}
@media screen and (min-width: 769px) {
  /* line 36, ../sass/scale.scss */
  header .name {
    width: 100%;
    margin-right: 10px;
  }

  /* line 43, ../sass/scale.scss */
  .content {
    clear: both;
  }

  /* line 47, ../sass/scale.scss */
  .social {
    float: right;
  }

  /* line 51, ../sass/scale.scss */
  footer {
    clear: both;
  }
}
/* line 1, ../sass/social.scss */
.fa {
  color: black;
  opacity: .25;
  transition: color .8s ease, font-size .2s linear;
}

/*a.svg {
	position: relative;
	display: inline-block;
	z-index: 1;
}

a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}*/
/* line 22, ../sass/social.scss */
.quora {
  width: 16px;
  opacity: .25;
  margin-bottom: -9px;
  padding-left: 10px;
  transition: color .8s ease, width .2s linear, opacity .2s linear;
}
/* line 28, ../sass/social.scss */
.quora #path {
  fill: black;
  transition: fill .8s ease;
}

/* line 34, ../sass/social.scss */
.quora:hover {
  width: 20px;
  opacity: 1;
}
/* line 38, ../sass/social.scss */
.quora:hover #path {
  fill: #ededed;
}

/* line 43, ../sass/social.scss */
.fa-pinterest:hover, .fa-instagram:hover, .fa-dribbble:hover, .fa-twitter:hover {
  color: #ededed;
  font-size: 24px;
  opacity: 1;
}

/* line 23, ../sass/style.scss */
body {
  font-family: "skolar";
  background: #fc3f32;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fc3f32 0%, #ef285d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc3f32), color-stop(100%, #ef285d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fc3f32 0%, #ef285d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fc3f32 0%, #ef285d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fc3f32 0%, #ef285d 100%);
  /* IE10+ */
  background: linear, to bottom, #fc3f32 0%, #ef285d 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3f32', endColorstr='#ef285d',GradientType=0 );
  /* IE6-9 */
}

/* line 35, ../sass/style.scss */
.content {
  margin: auto;
  padding: 30px;
  max-width: 600px;
}

/* line 41, ../sass/style.scss */
.container {
  margin-top: 32px;
}

/* line 45, ../sass/style.scss */
header {
  margin-bottom: 20px;
}

/* line 49, ../sass/style.scss */
footer {
  text-align: center;
  background-color: #ededed;
  padding: 30px;
}
/* line 54, ../sass/style.scss */
footer h4 {
  margin: 0;
}
/* line 58, ../sass/style.scss */
footer h5 {
  font-family: "cubano";
  font-size: .75em;
  padding: 15px;
  color: #ef285d;
}
/* line 65, ../sass/style.scss */
footer p {
  padding: 15px;
  clear: both;
}
/* line 69, ../sass/style.scss */
footer p a {
  font-family: "cubano";
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: auto;
  color: #030539;
  padding: 6px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  text-decoration: none;
  line-height: 3em;
  transition: color .5s ease, font-size .5s ease, padding .5s ease;
}
/* line 84, ../sass/style.scss */
footer p a:hover {
  color: #fc5b56;
  padding: 8px;
  font-size: 14px;
}

/* line 92, ../sass/style.scss */
h1 {
  font-size: 20em;
  text-align: center;
  font-family: "cubano";
  color: #030539;
  margin-bottom: 2px;
  margin-top: -20px;
}

/* line 101, ../sass/style.scss */
h2 {
  font-family: "cubano";
  font-size: 1.2em;
  text-transform: uppercase;
  color: #030539;
  letter-spacing: .2em;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
  float: left;
}

/* line 113, ../sass/style.scss */
h4 {
  font-family: "skolar";
  font-size: 1.35em;
  padding: 15px;
  margin-top: 20px;
  color: #030539;
  line-height: 1.35em;
}
/* line 121, ../sass/style.scss */
h4 a {
  text-decoration: none;
  color: #ededed;
}
/* line 126, ../sass/style.scss */
h4 p {
  padding-bottom: 15px;
  clear: both;
}
