/* line 7, ../sass/work.scss */
.work {
  padding: 15px;
  padding-top: 0;
  margin-bottom: 30px;
  color: #030539;
}
/* line 13, ../sass/work.scss */
.work h3 {
  font-family: "cubano";
  font-size: 1.2em;
  letter-spacing: .2em;
  padding-bottom: 8px;
  border-bottom: 4px solid;
}
/* line 21, ../sass/work.scss */
.work .miso {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #030539;
}
/* line 26, ../sass/work.scss */
.work .miso .meta {
  padding-top: 6px;
}
/* line 30, ../sass/work.scss */
.work .miso a {
  text-decoration: none;
}
/* line 33, ../sass/work.scss */
.work .miso a .misoapp {
  height: 34px;
  padding: 16px;
  padding-top: 14px;
  padding-bottom: 18px;
  margin-right: 12px;
  background: rgba(3, 5, 57, 0.25);
  border-radius: 16px;
  margin-bottom: 18px;
  float: left;
}
/* line 44, ../sass/work.scss */
.work .miso a .veoapp {
  height: 38px;
  padding: 21px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 12px;
  background: rgba(3, 5, 57, 0.25);
  border-radius: 16px;
  margin-bottom: 16px;
  float: left;
}
/* line 55, ../sass/work.scss */
.work .miso a .weaveapp {
  height: 32px;
  padding: 13px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 12px;
  background: rgba(3, 5, 57, 0.25);
  border-radius: 16px;
  margin-bottom: 16px;
  float: left;
}
/* line 66, ../sass/work.scss */
.work .miso a .venmoapp {
  height: 34px;
  padding: 16px;
  margin-right: 12px;
  background: rgba(3, 5, 57, 0.25);
  margin-bottom: 18px;
  float: left;
}

/* line 79, ../sass/work.scss */
h5 {
  font-size: 1em;
  padding-bottom: 12px;
}

/* line 84, ../sass/work.scss */
h6 {
  margin-bottom: 14px;
  font-family: "cubano";
  color: rgba(3, 5, 57, 0.5);
}
/* line 89, ../sass/work.scss */
h6 a {
  font-family: "cubano";
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: auto;
  color: #030539;
  padding: 6px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  text-decoration: none;
}

/* line 104, ../sass/work.scss */
h7 {
  font-size: .8em;
  color: rgba(0, 0, 0, 0.5);
}

/* line 110, ../sass/work.scss */
.memo p {
  margin-top: 50px;
  line-height: 1.4em;
}
/* line 115, ../sass/work.scss */
.memo .fa {
  margin-top: 10px;
  margin-left: -10px;
  color: rgba(0, 0, 0, 0.25);
}
/* line 121, ../sass/work.scss */
.memo a.quora {
  margin-top: 20px;
  color: green;
}
