/* line 13, ../sass/writing.scss */
.writing {
  margin-bottom: 40px;
  padding: 15px;
  padding-top: 0;
  color: #030539;
}
/* line 19, ../sass/writing.scss */
.writing h3 {
  font-family: "cubano";
  font-size: 1.2em;
  letter-spacing: .2em;
  padding-bottom: 8px;
  border-bottom: 4px solid;
}
/* line 27, ../sass/writing.scss */
.writing .said {
  padding-top: 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid #030539;
}
/* line 32, ../sass/writing.scss */
.writing .said p {
  font-family: "skolar";
  font-size: 1.2em;
  margin-top: -3px;
  margin-bottom: 3px;
}
/* line 38, ../sass/writing.scss */
.writing .said p a {
  text-decoration: none;
  color: #ededed;
  line-height: 1.2em;
}
/* line 45, ../sass/writing.scss */
.writing .said .texticon {
  border: 2px solid #030539;
  opacity: .25;
  border-radius: 6px;
  height: 16px;
  padding: 5px;
  margin-top: -5px;
  margin-right: 12px;
  margin-bottom: 16px;
  float: left;
  transition: opacity .5s ease;
}
/* line 58, ../sass/writing.scss */
.writing .said .texticon:hover {
  opacity: .5;
}
/* line 62, ../sass/writing.scss */
.writing .said .fa {
  opacity: .25;
  color: black;
  padding: 5px;
  margin-top: -10px;
  margin-right: 12px;
  margin-bottom: 20px;
  transition: opacity .5s ease;
  float: left;
}
/* line 73, ../sass/writing.scss */
.writing .said .fa:hover {
  opacity: .5;
}
