$iphone: 481px;
$ipad: 769px;

@media screen and (max-width: $iphone) {
	.social {
		float: left;
		margin-bottom: 20px;
		margin-top: -26px;
	}
}

@media screen and (min-width: $iphone) and (max-width: $ipad) {
	
	.writing {
		width: 100%;
		margin-right: 10px;
	}
	
	.content {
		clear: both;
	}
	
	.social {
		float: right;
	}
					
	footer {
		clear: both;
	}
}

@media screen and (min-width: $ipad) {

	header {
		
		.name {
			width: 100%;
			margin-right: 10px;
		}
		
	}

	.content {
		clear: both;
	}
	
	.social {
		float: right;
	}
	
	footer {
		clear: both;
	}

}
