@import "reset";
@import "bourbon/bourbon";
@import "work";
@import "writing";
@import "scale";
@import "social";

// Variables

$salmon: #FC5B56;
$light-grey: #ededed;
$grey: #bbb;
$dark-grey: #444;
$midnight: #030539;
$hotpink: #ef285d;

$serif: "skolar";
$sans: "raleway";
$c: "cubano";

// Let's Do This, Smang It

body {
	font-family: $serif;
	background: #fc3f32; /* Old browsers */
	background: -moz-linear-gradient(top, #fc3f32 0%, #ef285d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc3f32), color-stop(100%,#ef285d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fc3f32 0%,#ef285d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fc3f32 0%,#ef285d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fc3f32 0%,#ef285d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fc3f32 0%,#ef285d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc3f32', endColorstr='#ef285d',GradientType=0 ); /* IE6-9 */
}

.content {
	margin: auto;
	padding: 30px;
	max-width: 600px;
	}
	
.container {
	margin-top: 32px;
}

header {
	margin-bottom: 20px;
}

footer {
	text-align: center;
	background-color: $light-grey;
	padding: 30px;
	
	h4 {
		margin: 0;
	}
	
	h5 {
		font-family: $c;
		font-size: .75em;
		padding: 15px;
		color: $hotpink;
	}
	
	p {
		padding: 15px;
		clear: both;
		
		a {
		font-family: $c;
		font-size: .75em;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin: auto;
		color: $midnight;
		padding: 6px;
		margin-right: 10px;
		background: rgba(white, 0.75);
		border-radius: 3px;
		text-decoration: none;
		line-height: 3em;
		transition: color .5s ease, font-size .5s ease, padding .5s ease;
		}
	a:hover {
		color: $salmon;
		padding: 8px;
		font-size: 14px;
	}
	}
}

h1 {
	font-size: 20em;
	text-align: center;
	font-family: $c;
	color: $midnight;
	margin-bottom: 2px;
	margin-top: -20px;
}

h2 {
	font-family: $c;
	font-size: 1.2em;
	text-transform: uppercase;
	color: $midnight;
	letter-spacing: .2em;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: 15px;
	float: left;
}

h4 {
	font-family: $serif;
	font-size: 1.35em;
	padding: 15px;
	margin-top: 20px;
	color: $midnight;
	line-height: 1.35em;
	
	a {
		text-decoration: none;
		color: $light-grey;
	}
	
	p {
		padding-bottom: 15px;
		clear: both;
	}
}

